#main-section {
  max-width: 75%;
  background-color: #D3D3D3;
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
}

#posts-section {
    background-color: #a8a8a8;
    max-width: 75%;
    height: 850px;
    margin: auto;

}