<% if logged_in? %>

<section id="main-section"> <h1> Welcome to the Dog Blog! Woof! </h1>

  <a href="/users/<%= current_user.id %>"> <%= current_user.user_name %> </a>
  <a href="/logout">Logout</a>

</section>

<section id="posts-section">
  <h2> Latest posts: </h2>
  </section>

<% else %>

<section id="main-section"> <h1> Welcome to the Dog Blog! Woof! </h1>

  <a href="/login">Login</a>
  <a href="/register">Register</a>

</section>
<section id="posts-section">
  <h2> Latest posts: </h2>
  <ul>
    <li></li>
  </ul>
  </section>

<% end %>