<%= erb :"/_header" %>

<section id="main-section">
  <form action="/posts" method="post">
    <input type="text" name="title" placeholder="Title">
    <br>
    <textarea name="content" placeholder="Content"> </textarea>
    <br>
    <input type="submit" value="Post">
  </form>
</section>