<%= erb :"/_header" %>

<section id="main-section">
  <form action="/posts" method="post">
    <input type="text" name="post[title]" placeholder="Title">
    <br>
        <input type="text" name="post[tag_list]" placeholder="tags (sep by ,)">
<br>
    <textarea name="post[content]" placeholder="Content"> </textarea>
    <br>
    <input type="submit" value="Post">
  </form>
</section>