<section id="main-section">
  <form action="/login" method="post">
    <input type="text" name="user[username]" placeholder="User Name"> <br>
    <input type="text" name="user[password]" placeholder="Password"> <br>
    <input type="submit" value="Login">
  </form>
</section>