<section id="main-section">
  <form action="/register" method="post">
    <input type="text" name="user[user_name]" placeholder="User Name"> <br>
    <input type="text" name="user[email]" placeholder="Email"> <br>
    <input type="password" name="user[password]" placeholder="Password"> <br>
    <input type="submit" value="Register">
  </form>
<section>